h1 {
  text-align:center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  font-size: 150px;
  text-align: center;
  background-color: black;
}

.gameBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 620px;
  margin:auto;
}